<!--
<p id="titleheading"><b>Nothing to see here, just a Login Form...</b></p>
<form method=POST action="/login">
	<input type="text" name="username" placeholder="Username">                      
	<input type="submit" value="login">
</form>
		
-->
<div style="display: flex">
	<form method=GET action="/login">
		<input id="login" type="submit" value="login" name="loginbutton">
	</form>
	<form method=GET action="/register">
		<input id="register" type="submit" value="register" name="registerbutton">
	</form>
</div>


