<!DOCTYPE html>
    <html>
        <head>
            <title>login</title>
        </head>
        <body style="font-family: sans-serif">
            <h2>Welcome to TinyApp</h2>
            <h3>Login to view and edit list of shorturls</h3>
            <p> 
                <% if (username != undefined) {%>
                <form method=POST action="/logout">                 
                    <input type="submit" value="logout">
                </form>
                <a href="/urls">Return to home</a>
                <% } else{ %>
                <form method=POST action="/login?_method=PUT">
                    <!--
                    <input type="text" name="username" placeholder="Username">
                    -->  
                    <input type="text" name="email"    placeholder="Email">
                    <input type="password" name="password" placeholder="Password">                    
                    <input type="submit" value="login">
                </form>
                <br/>
                <a href="/register">Click here to register</a>
                <br/><br/>
                <%}%>
            </p>
        </body>
    </html>