<!DOCTYPE html>
    <html>
        <head>
            <title>login</title>
        </head>
        <body>
            <p><b>Login Form:</b></p>
            <p> 
                <% if (username != undefined) {%>
                <form method=POST action="/logout">                 
                    <input type="submit" value="logout">
                </form>
                <% } else{ %>
                <form method=POST action="/login">
                    <!--
                    <input type="text" name="username" placeholder="Username">
                    -->  
                    <input type="text" name="email"    placeholder="Email">
                    <input type="text" name="password" placeholder="Password">                    
                    <input type="submit" value="login">
                </form>
                <a href="/register">Click here to register</a>
                <%}%>
            </p>
        </body>
    </html>