<!DOCTYPE html>
    <html>
        <head>
            <title>login</title>
        </head>
        <body>
            <p>
                <%- include('partials/_home.ejs') %>
                
            </p>
        </body>
    </html>