<!DOCTYPE html>
<html>
    <head>
        <title>
            registration form
        </title>
    </head>
    <body style="font-family: sans-serif">
        <h2> <b>Registration Form</h2>
            <form method=POST action="/register">
                <input type="email" name="email" placeholder="email here">
                <input type="password" name="password" placeholder="password here">
                <input type="submit" value="submit">
            </form>
            <br/>
            <a href="/login">Click here to login</a>
        </p>
    </body>
</html>