<!DOCTYPE html>
<html>
        <head>
                <title>shortURL</title>
                <style>
                        p{
                                font-family: sans-serif;
                        }
                        #titlename{
                                font-size: 30px;
                        }
                </style>
        </head>

        <body>
            <p id = "titlename"><b>shortURL:</b> <%= shortURL %></p>
                <form method="POST" action="/urls/<%= shortURL %>?_method=PUT">
                        <input type="text" name="URL" value="<%=urlDatabase[shortURL]%>" size ="35">
                        <input type="submit" value="Update">
                </form>
        </body>
</html>

