<!DOCTYPE html>
<html>
        <head>
                <title>shortURL</title>
        </head>

        <body>
            <p><b>shortURL:</b> <%= shortURL %></p>
                <form>
                        <input type="text" name="URL">
                        <input type="submit" value="Update">
                </form>
        </body>
</html>
~                                                                                                     
~                                                                                                     
~                                                                                                     
~                                                                                                     
~                                                                                                     
~                                        

